In [199]:
import pandas as pd
from faker import Faker
import random
import datetime

In [200]:
def month_range(start, periods=12):
    rng = pd.date_range(pd.Timestamp(start)-pd.offsets.MonthBegin(),
                        periods=periods,
                        freq='MS')
    ret = (rng + pd.offsets.Day(pd.Timestamp(start).day-1)).to_series()
    ret.loc[ret.dt.month > rng.month] -= pd.offsets.MonthEnd(1)
    return pd.DatetimeIndex(ret)

Create An Account Profile

In [214]:
def payment_generator(payment, n=24):
    
    
    if payment['freq']=='M':
        df = pd.DataFrame(data={'dates': month_range(payment['start_date'], n)})
    else:
        df = pd.DataFrame(data={'dates': pd.date_range(payment['start_date'], periods=n, freq=payment['freq'])})
    
    df['account_name'] = payment['account_name'] 
    df['account_IBAN'] = payment['account_IBAN']
    df['other_account_name'] = payment['other_account_name']
    
    if payment['amount']['variable'] == 'False':
        df['amount'] = payment['amount']['base']
    
    if payment['amount']['variable'] == 'True':
        df['amount'] = payment['amount']['base']
        df['amount'] = df['amount'].apply(lambda x: x + random.uniform(payment['amount']['var'], 0))
    
    return df

In [245]:
name = fake.name()
account_IBAN = fake.bban()
payments_norm = [{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Wages MyOrg',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'False',
        'base': 2600.0
    },
    'start_date': '2018-02-20',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Rent - apt 12',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'False',
        'base': -1500.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Phone',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'False',
        'base': -20.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Subscription',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'False',
        'base': -50.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Utilities',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'True',
        'base': -200.0,
        'var': -100.0
    },
    'start_date': '2018-02-28',
    'freq': '2M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Car',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'False',
        'base': -250.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Medical Subscription',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'False',
        'base': -150.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Medical Session',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'False',
        'base': -200.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Food Desc',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'True',
        'base': - 5.0,
        'var': - 6.0
    },   
    'start_date': '2018-02-28',
    'freq': '7D'}
]

payments_impluse = [{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'True',
        'base': - 20.0,
        'var': - 50.0
    },
    'start_date': '2018-03-28',
    'freq': '7D',
    'number': 2},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'True',
        'base': - 240.0,
        'var': - 200.0
    },
    'start_date': '2018-04-28',
    'freq': '1D',
    'number': 1},
{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'True',
        'base': - 140.0,
        'var': - 50.0
    },
    'start_date': '2018-08-28',
    'freq': '1D',
    'number': 6}]


name = fake.name()
account_IBAN = fake.bban()
payments_norm += [{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Wages MyOrg',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'False',
        'base': 2300.0
    },
    'start_date': '2018-02-15',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Rent - apt 12',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'False',
        'base': -1200.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Phone',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'False',
        'base': -18.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Subscription',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'False',
        'base': -55.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Utilities',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'True',
        'base': -180.0,
        'var': -100.0
    },
    'start_date': '2018-02-28',
    'freq': '2M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Car',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'False',
        'base': -330.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Medical Subscription',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'False',
        'base': -80.0
    },
    'start_date': '2018-02-28',
    'freq': 'M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Medical Session',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'False',
        'base': -200.0
    },
    'start_date': '2018-02-28',
    'freq': '2M'},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': 'Food Desc',
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'True',
        'base': - 5.0,
        'var': - 6.0
    },   
    'start_date': '2018-02-28',
    'freq': '7D'}
]

payments_impluse += [{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'True',
        'base': - 60.0,
        'var': - 40.0
    },
    'start_date': '2018-03-28',
    'freq': '7D',
    'number': 2},
    {
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'True',
        'base': - 340.0,
        'var': - 100.0
    },
    'start_date': '2018-04-28',
    'freq': '1D',
    'number': 1},
{
    'account_name': name,
    'account_IBAN': account_IBAN,
    'other_account_name': fake.company_suffix(),
    'account_IBAN': fake.bban(),
    'amount': {
        'variable': 'True',
        'base': - 99.0,
        'var': - 199.0
    },
    'start_date': '2018-08-28',
    'freq': '1D',
    'number': 6}]



df_impluse = [payment_generator(x, x['number']) for x in payments_impluse]
df_norm = [payment_generator(x) for x in payments_norm]
df_ = pd.concat(df_impluse + df_norm)

df_.reset_index(inplace=True,drop=True)
df_.sort_values(by='dates', inplace=True)
df_.reset_index(inplace=True, drop=True)
df_['balance'] = df_['amount'].cumsum()
df_.head(20)

,dates,account_name,account_IBAN,other_account_name,amount,balance
0,2018-02-15,Megan Lee,CSYJ07684330197991,Wages MyOrg,2300.000000,2300.000000
1,2018-02-20,Alan Alvarez,TIOD61773281141802,Wages MyOrg,2600.000000,4900.000000
2,2018-02-28,Megan Lee,SYCG03566020455456,Rent - apt 12,-1200.000000,3700.000000
3,2018-02-28,Megan Lee,ITDV53228840363029,Phone,-18.000000,3682.000000
4,2018-02-28,Alan Alvarez,GNNT62534998559978,Phone,-20.000000,3662.000000
5,2018-02-28,Alan Alvarez,HRZS29177449385743,Rent - apt 12,-1500.000000,2162.000000
6,2018-02-28,Megan Lee,PHON93106152977874,Subscription,-55.000000,2107.000000
7,2018-02-28,Megan Lee,VFQT69690475168889,Utilities,-208.604025,1898.395975
8,2018-02-28,Megan Lee,UUUE70907828915975,Car,-330.000000,1568.395975
9,2018-02-28,Megan Lee,IXFH02803762003653,Medical Subscription,-80.000000,1488.395975
10,2018-02-28,Megan Lee,LWES13689079224159,Medical Session,-200.000000,1288.395975
11,2018-02-28,Megan Lee,YTJZ97654072737316,Food Desc,-5.576286,1282.819688
12,2018-02-28,Alan Alvarez,ECWA07420368792176,Medical Session,-200.000000,1082.819688
13,2018-02-28,Alan Alvarez,KAWL09869390228973,Food Desc,-7.433942,1075.385746
14,2018-02-28,Alan Alvarez,WHYR19338572065932,Medical Subscription,-150.000000,925.385746
15,2018-02-28,Alan Alvarez,HYHN22766799600328,Subscription,-50.000000,875.385746
16,2018-02-28,Alan Alvarez,SRSM67125165209973,Car,-250.000000,625.385746
17,2018-02-28,Alan Alvarez,RNQU08587012446849,Utilities,-213.828633,411.557113
18,2018-03-07,Alan Alvarez,KAWL09869390228973,Food Desc,-9.047785,402.509328
19,2018-03-07,Megan Lee,YTJZ97654072737316,Food Desc,-8.639094,393.870233

In [249]:
df_.to_csv('gs://shakingshamrocks_eu/test_data_1.csv')

In [250]:
df_.count()

dates                 450
account_name          450
account_IBAN          450
other_account_name    450
amount                450
balance               450
dtype: int64

Save File for later processing